Repository sushant-kum/the-web-dev-life: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, pretty-quick --staged --verbose

.lintstagedrc.json:

{
  "*.{js,ts}": ["ng-lint-staged lint --fix --"],
  "*.{css,html,js,json,md,scss,ts}": "pretty-quick --staged --verbose"
}

build: setup dev environment partially
  .eslintrc
  CHANGELOG.md
  LICENSE
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged --verbose

build: ng update
  .gitignore
  package-lock.json
  package.json
  src/polyfills.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged --verbose

build: npm update
  .czrc
  .eslintrc
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

build: ng update @angular/cli @angular/core
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

chore: changed title to The Web Dev Life
  README.md
  src/index.html
Due: pretty-quick --staged --verbose

chore: added gitattributes and misc changes
  .gitattributes
  .lintstagedrc
  .vscode/settings.json
Due: pretty-quick --staged --verbose

chore(release): 0.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: pretty-quick --staged --verbose

chore: updated .eslintignore and .prettierignore
  .eslintignore
  .prettierignore
Due: none

refactor: lint:fix
  src/app/app.component.spec.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged --verbose

feat: added angular material, styles and fonts
  package-lock.json
  package.json
  src/app/app.module.ts
  src/assets/fonts/Roboto/LICENSE.txt
  src/assets/fonts/Roboto/Roboto-Black.ttf
  src/assets/fonts/Roboto/Roboto-BlackItalic.ttf
  src/assets/fonts/Roboto/Roboto-Bold.ttf
  src/assets/fonts/Roboto/Roboto-BoldItalic.ttf
  src/assets/fonts/Roboto/Roboto-Italic.ttf
  src/assets/fonts/Roboto/Roboto-Light.ttf
  src/assets/fonts/Roboto/Roboto-LightItalic.ttf
  src/assets/fonts/Roboto/Roboto-Medium.ttf
  src/assets/fonts/Roboto/Roboto-MediumItalic.ttf
  src/assets/fonts/Roboto/Roboto-Regular.ttf
  src/assets/fonts/Roboto/Roboto-Thin.ttf
  src/assets/fonts/Roboto/Roboto-ThinItalic.ttf
  src/index.html
  src/styles/fonts/index.scss
  src/styles/fonts/roboto.scss
  src/styles/index.scss
  src/styles/palette/accent.scss
  src/styles/palette/index.scss
  src/styles/palette/primary.scss
  src/styles/palette/warn.scss
  src/styles/styles.scss
  src/styles/themes/dark-theme.scss
  src/styles/themes/index.scss
  src/styles/themes/light-theme.scss
Due: ng-lint-staged lint --fix --, pretty-quick --staged --verbose

feat(app.comp): added version info and title name to app
  src/app/app.component.html
  src/app/app.component.ts
  src/app/constants/app-title.constant.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged --verbose

chore: changed port to 5030
  package.json
Due: pretty-quick --staged --verbose

feat: added localforage service
  package-lock.json
  package.json
  src/app/constants/localforage.constant.ts
  src/app/services/localforage/localforage.service.spec.ts
  src/app/services/localforage/localforage.service.ts
Due: ng-lint-staged lint --fix --, pretty-quick --staged --verbose

feat: added theme and dark mode
  src/app/app.component.html
  src/app/app.component.ts
  src/app/services/dark-mode/dark-mode.service.spec.ts
  src/app/services/dark-mode/dark-mode.service.ts
  src/styles/palette/accent.scss
  src/styles/palette/index.scss
  src/styles/palette/palette.scss
  src/styles/palette/primary.scss
  src/styles/themes/dark-theme.scss
  src/styles/themes/light-theme.scss
  src/styles/themes/theme-helper.scss
Due: ng-lint-staged lint --fix --, pretty-quick --staged --verbose
